body{
    background: #fff !important;
    min-height: 100%;
}
#root{
    min-height: 100%;
}
.ant-collapse-header{
    font-weight: bold;
    background: #fafafa;
}

.ant-collapse-header:hover{
    background: #f0f2f5;
}

.mainPreSam{
    margin: 24px 16px !important;
    padding: 14px !important;
    height: 100% !important;
}