body{
    background: #fff !important;
    min-height: 100%;
}
#root{
    min-height: 100%;
}
.ant-collapse-header{
    font-weight: bold;
    background: #fafafa;
}

.ant-collapse-header:hover{
    background: #e9e9e9;
}